#name {
  font-family: Palatino, serif;
  font-size: 48px;
  padding: 20px;
}

.btn.btn-default.page-link {
  border-color: white;
  text-align: center;
}

.btn.btn-default.page-link:hover {
  background-color:#e8b2b2;
  color: white;
  font-weight: bold;
}

.page-link.selected {
  background-color:#b30000;
  color: white;
  font-weight: bold;
}

.page-content {
  border: 2px dotted #a6a6a6;
  padding: 5%;
  margin: 5px 0;
}

h3 {
  font-family: serif;
  padding: 10px 0;
}