#name {
  font-family: 'Bitter', sans-serif;
  font-size: 48px;
  padding: 20px;
}

.btn.btn-default.page-link {
  border-color: white;
  text-align: center;
}

.btn.btn-default.page-link:hover {
  background-color:#e8b2b2;
  color: white;
  font-weight: bold;
}

.page-link.selected {
  background-color:#b30000;
  color: white;
  font-weight: bold;
}

.page-content {
  border: 2px dotted #a6a6a6;
  padding: 4%;
  margin: 5px 0;
}

h3.section-title {
  padding: 10px 0;
  text-align: center;
  font-family: 'Bitter', sans-serif;
}

h5.subtitle {
  text-align: center;
}

td {
  padding: 5px;
}

p, li {
  font-family: 'Raleway', serif;
}

.section-item {
  padding: 5px 0;
  font-family: 'Raleway', serif;
}

.resume-section {
  padding: 15px;
}

.overview-container {
  background-color: #f3f3f3;
  padding: 15px;
}
