
.btn.btn-default.page-link {
  border-color: white;
  text-align: center;
}

.btn.btn-default.page-link:hover {
  background-color:#e8b2b2;
  color: white;
  font-weight: bold;
}

.page-link.selected {
  background-color:#b30000;
  color: white;
  font-weight: bold;
}

.base-content {
/*  border-top: 5px solid #d3d3d3;*/
  padding: 5% 0;
  margin: 5px 0;
}

.page-content {
  border: 2px solid gray;
  padding: 5% 0;
  margin: 5px 0;
  background-color: white;
}

h3.section-title {
  padding: 10px 0;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  border-bottom: 1px solid gray;
}

h5.subtitle {
  text-align: center;
}

td {
  padding: 5px;
}

p, li {
  font-family: 'Raleway', serif;
}

footer > p {
  padding-left: 10%;
}

h4 {
  padding: 25px 0;
  text-align: center;
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.emphasis-item {
  font-family: 'Bitter';
  font-weight: 400;
}

.section-item {
  padding: 5px 0;
  font-family: 'Raleway', serif;
}

.resume-section, ul.section-item {
  padding: 15px;
}

.overview-container {
  background-color: #f3f3f3;
  padding: 15px;
  margin: 0 15px;
}

#about {
  background-image: url('purkinje2.jpg');
}

#research {
  background-image: url('krifka.jpg');
}

#resume {
  background-image: url('markov3.jpg');
}

#name {
  font-family: 'Bitter', sans-serif;
  font-size: 48px;
  padding: 20px;
}

.no-margin {
  margin: 0;
}

