{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
<div class='purkinje-image'>
  <div class='col-xs-10 col-xs-offset-1 page-content'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1'>
        <p>
         I am a linguist and software engineer who recently received my PhD in Linguistics from the University of Southern California. I currently work at GoDaddy in San Francisco, CA. 
        </p>
        <p>
         A lifelong learner, I enjoy exploring and presenting analytical topics, and using data to solve interesting puzzles. My interests have traditionally been heavily language-focused, but have gradually spread to neighboring fields such as neuroscience and computer science. I'm a strong believer that the world is made more beautiful by virtue of the existence of <a href='http://cbs.fas.harvard.edu/science/connectome-project/brainbow'>brainbows</a>, <a href='https://dspace.mit.edu/handle/1721.1/16287'>quantifier raising</a>, and <a href='http://www.geeksforgeeks.org/618/'>tree traversal algorithms</a>.
        </p>
        <p>
         When I am not working, I am eternally searching for the perfect chocolate chip cookie recipe (current favorites <a href='http://www.ambitiouskitchen.com/2012/09/nutella-stuffed-brown-butter-sea-salt-chocolate-chip-cookies-my-favorite-cookie-ever/'>here</a> and <a href='http://www.cookingactress.com/2012/10/the-new-york-times-best-chocolate-chip.html'>here</a>) and puzzling over which font to choose. I'm a big fan of board games and an even bigger fan of true-story survival movies.
        </p>
      </div>
      <div class='col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0'>
        <img src='/static/ellenpic1.jpg'>
      </div>
    </div>
  </div>
</div>
{% endblock %}
