<!DOCTYPE html>
<html>

  <head>
    <title>Ellen W. O'Connor</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Bitter|Muli" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>
          <h1 id='name'>Ellen W. O'Connor</h1>
          <ul class='nav nav-pills nav-justified'>
            <li role='button'><a class='btn btn-default page-link {{ 'selected' if current_page == 'about' }}' href='/'>About me</a></li>
            <li role='button'><a class='btn btn-default page-link {{ 'selected' if current_page == 'research' }}' href='/research'>Research</a></li>
            <li role='button'><a class='btn btn-default page-link {{ 'selected' if current_page == 'resume' }}' href='/resume'>Professional</a></li>
            <li role='button'><a class='btn btn-default page-link {{ 'selected' if current_page == 'odyssey' }}' href='/odyssey'>Brain Odyssey</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class='container-fluid'>
      <div class='row base-content' id='{{ current_page }}'>
        {% block content %}BODY CONTENT GOES HERE{% endblock %}
      </div>
    </div>

    <footer>
      <p>Copyright 2016 Ellen O'Connor</p>
    </footer>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'>
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46149368-1', 'auto');
        ga('send', 'pageview');
      </script>
  </body>

</html>