{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
  <div >
    <div class='row'>
      <h3 class='section-title'>About me</h3>
    </div>
    <div class='row'>
      <div class='col-xs-5 col-xs-offset-1 page-content'>
        <p>
         I am a linguist and software engineer who recently received my PhD in Linguistics from the University of Southern California. My expertise lies at the intersection of language, technology and cognitive science, and their applications within research and industry. 
        </p>
        <p>
          My doctoral work focuses on the syntax-semantics interface, gathering insights using formal modeling as well as behavioral and neurolinguistic experimentation. This work has been largely guided by questions about how semantic composition proceeds in online processing: what parts of the brain participate in composition? how do the mechanisms involved in combinatory semantics interface with other cognitive systems? when/why do online interpretations occasionally deviate from compositional and grammar-based meanings? 
        </p>
        <p>
          In my free time, I enjoy traveling, eating sweet things, playing competitive board games, and trying to get my website to display properly. 
        </p>
      </div>
      <div class='col-xs-5'>
        <img src='/static/ellenpic1.jpg'>
      </div>
    </div>
  </div>
{% endblock %}
