{% extends 'base.html' %}

{% block content %}
  <div class='research col-xs-10 col-xs-offset-1 page-content'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 overview-container'>
        <p>
          <span class='emphasis-item'>Overview</span>: My doctoral work at USC focuses on the syntax-semantics interface, gathering insights using formal modeling as well as behavioral and neurolinguistic experimentation. This work has been largely guided by questions about how semantic composition proceeds in online processing: what parts of the brain participate in composition? how do the mechanisms involved in combinatory semantics interface with other cognitive systems? when/why do online interpretations occasionally deviate from compositional and grammar-based meanings?
        </p> 
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Semantic illusions</h3>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-1'>
        <p>
          Visual illusions have been enormously important for advancing knowledge about perception; Jan Purkinje has been quoted as saying that illusions of the senses tell us the truth about perception. Illusions also exist in language: our perception of a sentence's meaning does not always match its actual meaning (consider the sentence: More people have been to Berlin than I have). In ongoing work with Roumyana Pancheva, Elsi Kaiser and the USC Psycholinguistics Lab, I am investigating two types of semantic illusions, and their implications for theories of semantic processing.
        </p>
      </div>
      <div class='col-xs-4'>
        <h5 class='subtitle'>Downloads</h5>
        <a href='static/OConnor_thesis_formatted.pdf'>Comparative Illusions at the Syntax-Semantics Interface. PhD dissertation, USC. </a>
        <p>Evidence for online repair of Escher sentences. (in Proceedings of Sinn und Bedeutung 17)</p>
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Dual modes of measurement</h3>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-1'>
        <p>
          Findings from the cognitive sciences suggest that humans have two systems for numerosity: one that estimates differences in quantity magnitude along a continuous logarithmic scale, and another that tracks and counts distinct individuals through time and space. In collaboration with Priyanka Biswas, I argue that the grammar of cardinality in Bangla overtly encodes this dissociation. Our findings have implications for the interface between semantics and extralinguistic cognition.
        </p>
      </div>
      <div class='col-xs-4'>
        <h5 class='subtitle'>Downloads</h5>
        <a href='static/FASAL.pdf'>(under review) Cardinality in counting and measurement: evidence for two systems in Bangla. (handout from FASAL 2014)</a>
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Semantics in the brain</h3>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-1'>
        <p>
          In collaboration with Liina Pylkkänen and the NYU Neurolinguistics Lab,  I am investigating what parts of the brain participate directly in combinatory semantics -- the key computations that enable humans to dynamically build novel meanings out of smaller parts -- and what parts are indirectly sensitive to the output of these computations. This project takes advantage of the temporal and spatial resolution afforded by MEG to look not only at what regions of the brain form the backbone of the semantic network, but also when they become active during processing.
        </p>
      </div>
      <div class='col-xs-4'>
        <h5 class='subtitle'>Downloads</h5>
        <a href='/static/binmod.pdf'>When meaning is not informative: dissociating semantic composition and information accrual in MEG. (poster at SNL 2014)</a>
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Degree QR</h3>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-1'>
        <p>
          This paper investigates constraints on movement of degree operators (too, more, fewer, too, etc.) originating in the noun phrase. I argue that a quantificational treatment of degree morphemes at the clausal level is justified by the presence of intervention effects associated with AP-internal negation and other quantificational expressions. 
        </p>
      </div>
      <div class='col-xs-4'>
        <h5 class='subtitle'>Downloads</h5>
        <a href='/static/WCCFL2014.pdf'>Trapped in the noun phrase: when degree quantifiers can't QR (in Proceedings of  WCCFL)</a>
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Comparison in Dari</h3>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-1'>
        <p>
          As an offshoot of my fieldwork on Dari at Alelo, I began investigating what Dari comparatives can tell us about the grammar of comparison more broadly. Dari comparatives contain a mysterious nonfinite verb in the than-clause, kada 'done'. I argue that the presence of this verb suggests that the than-clause has the structure of a small clause and that clausal material is necessary to form a degree predicate, as required by the semantics of more. 
        </p>
      </div>
      <div class='col-xs-4'>
        <h5 class='subtitle'>Downloads</h5>
        <a href='/static/Dari.pdf'>A clausal analysis of Dari and Tajik phrasal comparatives. (in Proceedings of NELS 41)</a>
      </div>
    </div>

    <div class='row'>
      <h3 class='section-title'>Other projects</h3>
    </div>
    <div class='col-xs-10 col-xs-offset-1'>
      <ul>
        <li>Vita Droutman, John Shen and I investigated the role of the insular cortex in decision-making networks using fMRI. The results of this experiment were presented at APS 2012.</li>
        <li>​Looking at patterns of syllable weight in unbounded stress systems, I proposed a set of stringent constraints  that associate main stress with salient syllable rimes. The paper was presented at LSA 2011 and can be downloaded here: <a href='/static/RimeSalience.pdf'>Weight-sensitive primary stress: a stringent analysis of rime salience</a></li>
        <li>Here is a short, informal paper I wrote for a phonetics course that documents the sound system of Pashto, an Afghan language that I became acquainted with at Alelo. I'm posting it here as a resource for anyone working on this language in a professional capacity.</li>
      </ul>
    </div>

  </div>
      
{% endblock %}
