{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
  <div class='research col-xs-10 col-xs-offset-1'>
      <h3 class='section-title'>Semantics in the brain</h2>
      <p>
        In collaboration with Liina Pylkkänen and the NYU Neurolinguistics Lab,  I am investigating what parts of the brain participate directly in combinatory semantics -- the key computations that enable humans to dynamically build novel meanings out of smaller parts -- and what parts are indirectly sensitive to the output of these computations. This project takes advantage of the temporal and spatial resolution afforded by MEG to look not only at what regions of the brain form the backbone of the semantic network, but also when they become active during processing.
      </p>
      <a href='/static/binmod.pdf'>Bin mod!</a>
      <h3>Semantic illusions</h2>
      <p>
        Visual illusions have been enormously important for advancing knowledge about perception; Jan Purkinje has been quoted as saying that illusions of the senses tell us the truth about perception. Illusions also exist in language: our perception of a sentence's meaning does not always match its actual meaning (consider the sentence: More people have been to Berlin than I have). In ongoing work with Roumyana Pancheva, Elsi Kaiser and the USC Psycholinguistics Lab, I am investigating two types of semantic illusions, and their implications for theories of semantic processing.
      </p>
      <a href='static/OConnor_thesis_formatted.pdf'>Thesis</a>
      <h3>Dual modes of measurement</h2>
      <p>
        Findings from the cognitive sciences suggest that humans have two systems for numerosity: one that estimates differences in quantity magnitude along a continuous logarithmic scale, and another that tracks and counts distinct individuals through time and space. In collaboration with Priyanka Biswas, I argue that the grammar of cardinality in Bangla overtly encodes this dissociation. Our findings have implications for the interface between semantics and extralinguistic cognition.
      </p>
  </div>
{% endblock %}
