{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>
      <img src='static/ellenpic2.jpg'>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-5 col-xs-offset-1'>
      <div class='resume-section page-content'>
        <h3 class='section-title'>Professional</h3>
        <div class='section-item'>
          <div>2016 - Present: Software Engineer</div>
          <div>GoDaddy (<a href='https://locu.godaddy.com'>Locu</a>), San Francisco CA</div>
        </div>
        <div class='section-item'>
          <div>2009 - 2016: Research Fellow</div>
          <div>USC (<a href='https://dornsife.usc.edu/ling/'>Department of Linguistics</a>), Los Angeles CA</div>
        </div>
        <div class='section-item'>
          <div>2003 - 2006: Content Developer</div>
          <div><a href='https://www.alelo.com/'>Alelo</a>, Los Angeles CA</div>
        </div>
        <div class='section-item'>
          <div>2003 - 2006: Writing Tutor</div>
          <div>UCSC (<a href='http://lss.ucsc.edu/'>Learning Support Services</a>), Santa Cruz CA</div>
        </div>      
      </div>
    </div>

    <div class='col-xs-5'>
      <div class='resume-section page-content'>
        <h3 class='section-title'>Education</h3>
        <div class='section-item'>
          <div>2015 - PhD, Linguistics</div>
          <div>University of Southern California</div>
        </div>
        <div class='section-item'>
          <div>2011 - MA, Linguistics</div>
          <div>University of Southern California</div>
        </div>
        <div class='section-item'>
          <div>2006 - BA, Language Studies</div>
          <div>UC Santa Cruz</div>
        </div>
        <div class='section-item'>
          <div>2005 - Study abroad program</div>
          <div>Georg-August Universitaet, Goettingen, Germany</div>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}
